@media only screen and(max-width: 991px) and(min-width: 768px){
    #wrap{
        width: 712px;
        padding: 20px 28px 0;
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    header{
        width: 712px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 480px)
    header #branding {
        margin-left: 20px;
    }
    @media only screen and (max-width: 767px)
        header #branding {
            margin: 0 auto;
        }